<tr>
  <td>
    <%= index + 1 %>
  </td>
  <td>
    <%= row.name %>
  </td>
  <td>
    <%= row.accuracy %>
  </td>
  <td>
    <%= row.time %>
  </td>
  <td>
    <%= row.computed_score %> pts
  </td>
</tr>
