<div class="card shadow border-left-primary py-2 play-question-card">
  <div class="card-body">
    <div class="row align-items-center no-gutters q_name_div">
      <div class="col mr-2">
        <h3><strong>
            <%= question.prompt %>
          </strong></h3>
      </div>
    </div>
    <div class="row align-items-center no-gutters">
      <div class="col d-flex flex-column mr-2">
        <button class="btn btn-primary <%= question.answers[0].is_correct ? " a_correct": "" %> " type="button">A.&nbsp;
          &nbsp; &nbsp;<%= question.answers[0].answer %>
            &nbsp;</button>
        <button class="btn btn-primary <%= question.answers[1].is_correct ? " a_correct": "" %>"
          type="button">C.&nbsp; &nbsp; &nbsp;<%= question.answers[1].answer %>
            &nbsp;</button>
      </div>
      <div class="col d-flex flex-column mr-2">
        <button class="btn btn-primary <%= question.answers[2].is_correct ? " a_correct": "" %>" type="button">B.&nbsp;
          &nbsp; &nbsp;<%= question.answers[2].answer %>
            &nbsp;</button>
        <button class="btn btn-primary <%= question.answers[3].is_correct ? " a_correct": "" %>" type="button">D.&nbsp;
          &nbsp; &nbsp;<%= question.answers[3].answer %>
            &nbsp;</button>
      </div>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-animated" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
      style="width: 50%;"><span class="sr-only">50%</span></div>
  </div>
</div>
