<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>
    <%= quiz.title %> - FLASHQUIZ
  </title>
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <link rel="stylesheet" href="/styles/q_welcome.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <%- include('../partials/nav.ejs') %>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <div class="container-fluid d-flex flex-column align-items-center">
            <h1 class="text-center text-dark mb-1">
              <%= quiz.title _%>
            </h1>
            <p class="text-center"><strong>
                <%= quiz.description _%>
              </strong></p>
            <a class="play_link" href="/quizzes/<%= quiz._quizId %>/play "><i
                class="fa fa-play-circle d-xl-flex justify-content-xl-center"></i></a>
          </div>
          <div class="container-fluid d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-once="true">
            <div class="leaderboard_tabs">
              <ul class="nav nav-tabs nav-fill" role="tablist">
                <% if (quiz.specifiedLeaderboard.length) { %>
                  <li class="nav-item" role="presentation"><a class="nav-link active tab_nav" role="tab"
                      data-toggle="tab" href="#tab-specified">FRIENDNAME</a></li>
                  <% } %>

                    <% if (quiz.globalLeaderboard.length) { %>
                      <li class="nav-item" role="presentation"><a
                          class="nav-link <%= quiz.specifiedLeaderboard.length ? "" : " active" %> tab_nav" role="tab"
                          data-toggle="tab" href="#tab-global">EVERYONE</a></li>
                      <% } %>

                        <% if (quiz.personalLeaderboard.length) { %>
                          <li class=" nav-item" role="presentation"><a class="nav-link tab_nav" role="tab"
                              data-toggle="tab" href="#tab-personal">YOU</a></li>
                          <% } %>
              </ul>
              <div class="tab-content">
                <% if (quiz.specifiedLeaderboard.length) { %>
                  <div class="tab-pane active" role="tabpanel" id="tab-specified">
                    <div class="table-responsive table-borderless">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Accuracy</th>
                            <th>Time</th>
                            <th>Points</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% quiz.specifiedLeaderboard.forEach((row, index)=> { %>
                            <%- include('../partials/leaderboard_row.ejs', {row: row, index: index}) %>
                              <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <% } %>
                    <% if (quiz.globalLeaderboard.length) { %>
                      <div class="tab-pane <%= quiz.specifiedLeaderboard.length ? "" : " active" %>" role="tabpanel"
                        id="tab-global">
                        <div class="table-responsive table-borderless">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Accuracy</th>
                                <th>Time</th>
                                <th>Points</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% quiz.globalLeaderboard.forEach((row, index)=> { %>
                                <%- include('../partials/leaderboard_row.ejs', {row: row, index: index}) %>
                                  <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <% } %>
                        <% if (quiz.personalLeaderboard.length) { %>
                          <div class="tab-pane" role="tabpanel" id="tab-personal">
                            <div class="table-responsive table-borderless">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Accuracy</th>
                                    <th>Time</th>
                                    <th>Points</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% quiz.personalLeaderboard.forEach((row, index)=> { %>
                                    <%- include('../partials/leaderboard_row.ejs', {row: row, index: index}) %>
                                      <% }) %>

                                </tbody>
                              </table>
                            </div>
                          </div>
                          <% } %>
              </div>
            </div>
          </div>
        </div>
        <%- include('../partials/footer.ejs') %>
      </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <%- include('../partials/vendor_scripts.ejs') %>
</body>

</html>
